@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
@import url(https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 21, ../sass/style.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 31, ../sass/style.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 34, ../sass/style.scss */
body {
  line-height: 1;
}

/* line 37, ../sass/style.scss */
ol, ul {
  list-style: none;
}

/* line 40, ../sass/style.scss */
blockquote, q {
  quotes: none;
}

/* line 44, ../sass/style.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 48, ../sass/style.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 59, ../sass/style.scss */
html {
  height: 100%;
}

/* line 62, ../sass/style.scss */
body {
  background: white linear-gradient(15deg, #496889, #928ab0, #7b538c) no-repeat;
  background-size: 100% 200%;
  animation: background-scroll 7s alternate ease-in-out infinite;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  user-select: none;
}

/* line 72, ../sass/style.scss */
input[type="range"] {
  -webkit-appearance: none;
  outline: none;
}

/* line 78, ../sass/style.scss */
.start-radio-button {
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
  margin: auto;
  width: 240px;
  padding: 15px 0;
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: block;
  text-align: center;
  font-size: 40px;
  color: #FFF;
  opacity: 0;
  transition-timing-function: cubic-bezier(0.25, 1.5, 0.7, 1);
  transform: translateY(50px);
  transition-duration: .6s;
  transition-delay: .3s;
}

/* line 99, ../sass/style.scss */
.window {
  width: 350px;
  height: 70px;
  margin: 100px auto;
  position: relative;
  border-radius: 3px;
  overflow: hidden;
  background: #FFF;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1), 0 0 25px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(-50px);
  transition-timing-function: cubic-bezier(0.25, 1.5, 0.7, 1);
}
/* line 112, ../sass/style.scss */
.window:hover .page.page-front .cover .tool-buttons {
  opacity: 1;
}
/* line 116, ../sass/style.scss */
.window .top-bar {
  height: 70px;
  background: #FFF;
  position: relative;
  transform: scale(0.4);
  opacity: 0;
}
/* line 123, ../sass/style.scss */
.window .top-bar .left-action, .window .top-bar .right-action {
  position: absolute;
  top: 0;
  height: 70px;
  width: 70px;
  cursor: pointer;
  opacity: .4;
  transition-duration: .3s;
}
/* line 132, ../sass/style.scss */
.window .top-bar .left-action:hover, .window .top-bar .right-action:hover {
  opacity: 1;
  transition-duration: .05s;
}
/* line 138, ../sass/style.scss */
.window .top-bar .left-action {
  left: 0;
}
/* line 141, ../sass/style.scss */
.window .top-bar .left-action .line {
  position: absolute;
  left: 23px;
  width: 25px;
  height: 2px;
  background: #555;
  transition-duration: .3s;
}
/* line 150, ../sass/style.scss */
.window .top-bar .left-action .line-1 {
  top: 27px;
}
/* line 154, ../sass/style.scss */
.window .top-bar .left-action .line-2 {
  top: 35px;
}
/* line 158, ../sass/style.scss */
.window .top-bar .left-action .line-3 {
  top: 43px;
}
/* line 163, ../sass/style.scss */
.window .top-bar .right-action {
  right: 0;
}
/* line 166, ../sass/style.scss */
.window .top-bar .right-action .line {
  transition-duration: .3s;
}
/* line 170, ../sass/style.scss */
.window .top-bar .right-action .line-1 {
  position: absolute;
  top: 25px;
  right: 20px;
  height: 20px;
  width: 20px;
  border-radius: 100px;
  border: 2px solid #555;
}
/* line 180, ../sass/style.scss */
.window .top-bar .right-action .line-2 {
  position: absolute;
  top: 25px;
  right: 31px;
  height: 8px;
  width: 0;
  border: 1px solid #555;
  border-radius: 100px;
  z-index: 2;
}
/* line 191, ../sass/style.scss */
.window .top-bar .right-action .line-3 {
  position: absolute;
  top: 25px;
  right: 28px;
  height: 7px;
  width: 8px;
  background: #FFF;
  z-index: 1;
}
/* line 202, ../sass/style.scss */
.window .top-bar .mid-text {
  text-align: center;
  line-height: 70px;
  height: 70px;
  font-size: 25px;
}
/* line 208, ../sass/style.scss */
.window .top-bar .mid-text .title {
  position: absolute;
  top: 0;
  left: 70px;
  right: 70px;
  bottom: 0;
  text-align: center;
  transition-duration: .3s;
}
/* line 218, ../sass/style.scss */
.window .top-bar .mid-text .page-front-title {
  color: #EA8400;
}
/* line 221, ../sass/style.scss */
.window .top-bar .mid-text .page-saved-stations-title {
  color: #EE0085;
  opacity: 0;
  transform: scale(0.4);
}
/* line 229, ../sass/style.scss */
.window .page {
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  height: 390px;
}
/* line 236, ../sass/style.scss */
.window .page.page-front {
  z-index: 1;
}
/* line 239, ../sass/style.scss */
.window .page.page-front .cover {
  height: 100px;
  background: white linear-gradient(15deg, #ee0006, #ea8400, #ee0085) no-repeat;
  background-size: 100% 200%;
  animation: background-scroll 7s alternate ease-in-out infinite;
  position: relative;
  overflow: hidden;
  opacity: 0;
}
/* line 248, ../sass/style.scss */
.window .page.page-front .cover .glow {
  position: absolute;
  top: -50px;
  left: -80px;
  height: 120px;
  width: 300px;
  background: linear-gradient(360deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.05));
  z-index: 3;
  transform: rotate(-45deg);
  pointer-events: none;
  opacity: 0;
}
/* line 261, ../sass/style.scss */
.window .page.page-front .cover .tool-buttons {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 3;
  opacity: 0;
  transition-duration: .3s;
}
/* line 269, ../sass/style.scss */
.window .page.page-front .cover .tool-buttons li {
  float: left;
  padding: 7px 10px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 5px;
  color: #FFF;
  margin-left: 10px;
  font-size: 14px;
  cursor: pointer;
  transition-duration: .3s;
}
/* line 280, ../sass/style.scss */
.window .page.page-front .cover .tool-buttons li:hover {
  transition-duration: .05s;
  background: rgba(255, 255, 255, 0.25);
}
/* line 287, ../sass/style.scss */
.window .page.page-front .cover .current-station-text {
  font-size: 60px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  line-height: 250px;
  text-align: center;
  color: #FFF;
  z-index: 2;
  opacity: 0;
}
/* line 301, ../sass/style.scss */
.window .page.page-front .cover .current-station-name-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70px;
  color: #FFF;
  z-index: 2;
  opacity: 0;
}
/* line 311, ../sass/style.scss */
.window .page.page-front .cover .current-station-name-bar .left-action, .window .page.page-front .cover .current-station-name-bar .right-action {
  position: absolute;
  top: 0;
  height: 70px;
  width: 70px;
  line-height: 70px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  opacity: .5;
  transition-duration: .3s;
}
/* line 323, ../sass/style.scss */
.window .page.page-front .cover .current-station-name-bar .left-action:hover, .window .page.page-front .cover .current-station-name-bar .right-action:hover {
  opacity: 1;
  transition-duration: .05s;
}
/* line 329, ../sass/style.scss */
.window .page.page-front .cover .current-station-name-bar .left-action {
  left: 0;
}
/* line 333, ../sass/style.scss */
.window .page.page-front .cover .current-station-name-bar .right-action {
  right: 0;
}
/* line 337, ../sass/style.scss */
.window .page.page-front .cover .current-station-name-bar .mid-text {
  text-align: center;
  line-height: 70px;
  height: 70px;
  font-size: 25px;
}
/* line 345, ../sass/style.scss */
.window .page.page-front .cover .sound-bars {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  line-height: 70px;
  z-index: 1;
}
/* line 354, ../sass/style.scss */
.window .page.page-front .cover .sound-bars .bar {
  margin-top: 125px;
  transform: translateY(-50%);
  height: 0;
  width: 4px;
  background: rgba(255, 255, 255, 0.13);
  float: left;
  margin-right: 3px;
  animation-delay: 2s;
}
/* line 364, ../sass/style.scss */
.window .page.page-front .cover .sound-bars .bar:first-child {
  margin-left: 2px;
}
/* line 367, ../sass/style.scss */
.window .page.page-front .cover .sound-bars .bar:last-child {
  margin-right: 0;
}
/* line 371, ../sass/style.scss */
.window .page.page-front .cover .sound-bars .bar.wave-1 {
  animation: wave1 .5s linear alternate infinite;
}
/* line 373, ../sass/style.scss */
.window .page.page-front .cover .sound-bars .bar.wave-2 {
  animation: wave2 .7s linear alternate infinite;
}
/* line 375, ../sass/style.scss */
.window .page.page-front .cover .sound-bars .bar.wave-3 {
  animation: wave3 .6s linear alternate infinite;
}
/* line 377, ../sass/style.scss */
.window .page.page-front .cover .sound-bars .bar.wave-4 {
  animation: wave4 .5s linear alternate infinite;
}
/* line 379, ../sass/style.scss */
.window .page.page-front .cover .sound-bars .bar.wave-5 {
  animation: wave1 .6s linear alternate infinite;
}
/* line 381, ../sass/style.scss */
.window .page.page-front .cover .sound-bars .bar.wave-6 {
  animation: wave2 .7s linear alternate infinite;
}
/* line 383, ../sass/style.scss */
.window .page.page-front .cover .sound-bars .bar.wave-7 {
  animation: wave3 .5s linear alternate infinite;
}
/* line 385, ../sass/style.scss */
.window .page.page-front .cover .sound-bars .bar.wave-8 {
  animation: wave4 .6s linear alternate infinite;
}
/* line 387, ../sass/style.scss */
.window .page.page-front .cover .sound-bars .bar.wave-9 {
  animation: wave1 .7s linear alternate infinite;
}
/* line 389, ../sass/style.scss */
.window .page.page-front .cover .sound-bars .bar.wave-10 {
  animation: wave2 .5s linear alternate infinite;
}
/* line 394, ../sass/style.scss */
.window .page.page-front .swipe-bar {
  position: relative;
  background: linear-gradient(to bottom, #381026, #462e48);
  height: 0;
  opacity: 0;
  overflow: hidden;
}
/* line 401, ../sass/style.scss */
.window .page.page-front .swipe-bar .range-ruler {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 1;
}
/* line 410, ../sass/style.scss */
.window .page.page-front .swipe-bar .range-ruler .mid-line {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
  background: #7C6375;
}
/* line 419, ../sass/style.scss */
.window .page.page-front .swipe-bar .range-ruler .text {
  float: left;
  width: 0;
  margin-top: 45px;
  font-size: 13px;
  color: #7C6375;
  text-indent: -5px;
}
/* line 427, ../sass/style.scss */
.window .page.page-front .swipe-bar .range-ruler .text.long {
  text-indent: -10px;
}
/* line 432, ../sass/style.scss */
.window .page.page-front .swipe-bar .range-ruler .point {
  width: 12px;
  margin-top: 45px;
  float: left;
  position: relative;
}
/* line 438, ../sass/style.scss */
.window .page.page-front .swipe-bar .range-ruler .point:first-child {
  margin-left: 26px;
}
/* line 443, ../sass/style.scss */
.window .page.page-front .swipe-bar .range-ruler .point:nth-child(6), .window .page.page-front .swipe-bar .range-ruler .point:nth-child(13), .window .page.page-front .swipe-bar .range-ruler .point:nth-child(20) {
  width: 11px;
}
/* line 448, ../sass/style.scss */
.window .page.page-front .swipe-bar .range-ruler .point::after {
  position: absolute;
  top: -20px;
  height: 10px;
  width: 1px;
  background: #7C6375;
  content: '';
}
/* line 457, ../sass/style.scss */
.window .page.page-front .swipe-bar .range-ruler .point.long::after {
  height: 20px;
  top: -30px;
}
/* line 463, ../sass/style.scss */
.window .page.page-front .swipe-bar .range-ruler .point::before {
  position: absolute;
  top: -12px;
  left: -3px;
  border: 3px solid #FFF;
  border-radius: 10px;
  content: '';
  z-index: 2;
  opacity: 0;
}
/* line 474, ../sass/style.scss */
.window .page.page-front .swipe-bar .range-ruler .point.dot::before {
  opacity: 1;
}
/* line 481, ../sass/style.scss */
.window .page.page-front .swipe-bar .range {
  -moz-appearance: none !important;
  -webkit-appearence: none !important;
  position: relative;
  z-index: 2;
  margin: 0 auto;
  height: 67px;
  width: 85%;
  display: block;
  background: transparent;
  outline: none;
  border: 0;
}
/* line 494, ../sass/style.scss */
.window .page.page-front .swipe-bar .range:hover::-webkit-slider-thumb::before, .window .page.page-front .swipe-bar .range:active::-webkit-slider-thumb::before {
  opacity: 1;
  transform: none;
}
/* line 499, ../sass/style.scss */
.window .page.page-front .swipe-bar .range::-webkit-slider-runnable-track {
  -webkit-appearance: none !important;
  height: 70px;
  background: transparent;
  outline: none;
}
/* line 506, ../sass/style.scss */
.window .page.page-front .swipe-bar .range::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  position: relative;
  height: 70px;
  width: 1px;
  background: #EE0085;
}
/* line 513, ../sass/style.scss */
.window .page.page-front .swipe-bar .range::-webkit-slider-thumb::before {
  position: absolute;
  top: 28px;
  left: -9px;
  height: 18px;
  width: 18px;
  background: linear-gradient(to bottom, #ffffff, #f5f5f5);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.03), 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  opacity: 1;
  transform: scale(0.4);
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(0.25, 2, 0.7, 1);
  content: '';
}
/* line 531, ../sass/style.scss */
.window .page.page-front .swipe-bar .range::-moz-range-track {
  -moz-appearance: none !important;
  height: 70px;
  background: transparent;
}
/* line 537, ../sass/style.scss */
.window .page.page-front .swipe-bar .range::-moz-range-thumb {
  -moz-appearance: none !important;
  position: relative;
  width: 11px;
  height: 18px;
  width: 18px;
  background: linear-gradient(to bottom, #ffffff, #f5f5f5);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.03), 1px 1px 3px rgba(0, 0, 0, 0.2);
  border: 0;
  border-radius: 100px;
}
/* line 551, ../sass/style.scss */
.window .page.page-front .volume-bar {
  position: relative;
  background: #F7F7F7;
  height: 70px;
  opacity: 0;
}
/* line 557, ../sass/style.scss */
.window .page.page-front .volume-bar .left-icon {
  position: absolute;
  top: 0;
  left: 0;
  height: 70px;
  width: 70px;
  line-height: 70px;
  text-align: center;
  font-size: 30px;
  color: #cccccc;
}
/* line 569, ../sass/style.scss */
.window .page.page-front .volume-bar .rzslider {
  position: absolute;
  top: 0;
  left: 70px;
  right: 25px;
  height: 70px;
}
/* line 576, ../sass/style.scss */
.window .page.page-front .volume-bar .rzslider .rz-bar-wrapper {
  height: 70px;
  padding-top: 48px;
}
/* line 580, ../sass/style.scss */
.window .page.page-front .volume-bar .rzslider .rz-bar-wrapper .rz-bar {
  background: #cccccc;
}
/* line 585, ../sass/style.scss */
.window .page.page-front .volume-bar .rzslider .rz-pointer {
  top: 22px;
  background: #FFF;
  box-shadow: 0 1px 2px 1px #cccccc;
  outline: none;
  height: 24px;
  width: 24px;
}
/* line 593, ../sass/style.scss */
.window .page.page-front .volume-bar .rzslider .rz-pointer::after {
  display: none;
  content: none;
}
/* line 602, ../sass/style.scss */
.window .page.page-saved-stations {
  z-index: 1;
  background: #382235;
  overflow: hidden;
  transition-duration: .3s;
  opacity: 0;
  pointer-events: none;
}
/* line 610, ../sass/style.scss */
.window .page.page-saved-stations .station-list {
  padding-top: 15px;
}
/* line 613, ../sass/style.scss */
.window .page.page-saved-stations .station-list li {
  display: block;
  cursor: pointer;
  transform: translateX(20%);
  opacity: 0;
}
/* line 620, ../sass/style.scss */
.window .page.page-saved-stations .station-list li .link {
  color: #A38AA0;
  transition-duration: .3s;
  height: 60px;
  line-height: 60px;
  padding: 0 40px;
  font-size: 20px;
  display: block;
  text-decoration: none;
}
/* line 630, ../sass/style.scss */
.window .page.page-saved-stations .station-list li .link:hover {
  color: #FFF;
  transition-duration: .05s;
}
/* line 636, ../sass/style.scss */
.window .page.page-saved-stations .station-list li .link .bar-bouncer {
  display: inline-block;
  position: relative;
  height: 30px;
  margin-left: 20px;
  opacity: 0;
}
/* line 643, ../sass/style.scss */
.station-is-loading .window .page.page-saved-stations .station-list li .link .bar-bouncer {
  width: 70px;
}
/* line 645, ../sass/style.scss */
.station-is-loading .window .page.page-saved-stations .station-list li .link .bar-bouncer .bar {
  width: 10px;
  height: 10px;
  background-color: #B447E2;
  margin-right: 2px;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1s infinite ease-in-out both;
  animation: sk-bouncedelay 1s infinite ease-in-out both;
}
/* line 656, ../sass/style.scss */
.station-is-loading .window .page.page-saved-stations .station-list li .link .bar-bouncer .bar1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
/* line 661, ../sass/style.scss */
.station-is-loading .window .page.page-saved-stations .station-list li .link .bar-bouncer .bar2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
/* line 668, ../sass/style.scss */
.station-is-not-loading .window .page.page-saved-stations .station-list li .link .bar-bouncer .bar {
  position: absolute;
  bottom: 0;
  width: 4px;
  background: #B447E2;
}
/* line 674, ../sass/style.scss */
.station-is-not-loading .window .page.page-saved-stations .station-list li .link .bar-bouncer .bar:last-child {
  margin-right: 0;
}
/* line 679, ../sass/style.scss */
.station-is-not-loading .window .page.page-saved-stations .station-list li .link .bar-bouncer .bar1 {
  left: 0;
  -webkit-animation: wave2 .5s linear alternate infinite;
  animation: wave2 .5s linear alternate infinite;
}
/* line 684, ../sass/style.scss */
.station-is-not-loading .window .page.page-saved-stations .station-list li .link .bar-bouncer .bar2 {
  left: 8px;
  -webkit-animation: wave4 .5s linear alternate infinite;
  animation: wave4 .5s linear alternate infinite;
  animation-delay: .1s;
}
/* line 690, ../sass/style.scss */
.station-is-not-loading .window .page.page-saved-stations .station-list li .link .bar-bouncer .bar3 {
  left: 16px;
  -webkit-animation: wave3 .5s linear alternate infinite;
  animation: wave3 .5s linear alternate infinite;
  animation-delay: .2s;
}
/* line 700, ../sass/style.scss */
.window .page.page-saved-stations .station-list li .link .num {
  float: right;
  color: #A38AA0;
  font-size: 15px;
  opacity: 0;
  transform: translateX(-50%);
  transition-duration: 0s;
  transition-delay: 0s;
}
/* line 711, ../sass/style.scss */
.window .page.page-saved-stations .station-list li.active .link, .window .page.page-saved-stations .station-list li.active .link:hover {
  color: #FFF;
}
/* line 714, ../sass/style.scss */
.window .page.page-saved-stations .station-list li.active .link .bar-bouncer, .window .page.page-saved-stations .station-list li.active .link:hover .bar-bouncer {
  opacity: 1;
}

@-webkit-keyframes wave1 {
  /* line 726, ../sass/style.scss */
  0% {
    height: 10%;
  }

  /* line 729, ../sass/style.scss */
  33% {
    height: 30%;
  }

  /* line 732, ../sass/style.scss */
  66% {
    height: 15%;
  }

  /* line 735, ../sass/style.scss */
  100% {
    height: 55%;
  }
}

@keyframes wave1 {
  /* line 740, ../sass/style.scss */
  0% {
    height: 10%;
  }

  /* line 743, ../sass/style.scss */
  33% {
    height: 30%;
  }

  /* line 746, ../sass/style.scss */
  66% {
    height: 15%;
  }

  /* line 749, ../sass/style.scss */
  100% {
    height: 55%;
  }
}

@-webkit-keyframes wave2 {
  /* line 757, ../sass/style.scss */
  0% {
    height: 40%;
  }

  /* line 760, ../sass/style.scss */
  33% {
    height: 30%;
  }

  /* line 763, ../sass/style.scss */
  66% {
    height: 40%;
  }

  /* line 766, ../sass/style.scss */
  100% {
    height: 20%;
  }
}

@keyframes wave2 {
  /* line 771, ../sass/style.scss */
  0% {
    height: 40%;
  }

  /* line 774, ../sass/style.scss */
  33% {
    height: 30%;
  }

  /* line 777, ../sass/style.scss */
  66% {
    height: 40%;
  }

  /* line 780, ../sass/style.scss */
  100% {
    height: 20%;
  }
}

@-webkit-keyframes wave3 {
  /* line 787, ../sass/style.scss */
  0% {
    height: 30%;
  }

  /* line 790, ../sass/style.scss */
  33% {
    height: 45%;
  }

  /* line 793, ../sass/style.scss */
  66% {
    height: 30%;
  }

  /* line 796, ../sass/style.scss */
  100% {
    height: 25%;
  }
}

@keyframes wave3 {
  /* line 801, ../sass/style.scss */
  0% {
    height: 30%;
  }

  /* line 804, ../sass/style.scss */
  33% {
    height: 45%;
  }

  /* line 807, ../sass/style.scss */
  66% {
    height: 30%;
  }

  /* line 810, ../sass/style.scss */
  100% {
    height: 25%;
  }
}

@-webkit-keyframes wave4 {
  /* line 817, ../sass/style.scss */
  0% {
    height: 30%;
  }

  /* line 820, ../sass/style.scss */
  33% {
    height: 25%;
  }

  /* line 823, ../sass/style.scss */
  66% {
    height: 40%;
  }

  /* line 826, ../sass/style.scss */
  100% {
    height: 25%;
  }
}

@keyframes wave4 {
  /* line 831, ../sass/style.scss */
  0% {
    height: 30%;
  }

  /* line 834, ../sass/style.scss */
  33% {
    height: 25%;
  }

  /* line 837, ../sass/style.scss */
  66% {
    height: 40%;
  }

  /* line 840, ../sass/style.scss */
  100% {
    height: 25%;
  }
}

@-webkit-keyframes sk-bouncedelay {
  /* line 846, ../sass/style.scss */
  0%, 80%, 100% {
    -webkit-transform: scale(0);
  }

  /* line 847, ../sass/style.scss */
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  /* line 851, ../sass/style.scss */
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  /* line 854, ../sass/style.scss */
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes background-scroll {
  /* line 862, ../sass/style.scss */
  0% {
    background-position: 0 0;
  }

  /* line 865, ../sass/style.scss */
  100% {
    background-position: 0 100%;
  }
}

@keyframes background-scroll {
  /* line 870, ../sass/style.scss */
  0% {
    background-position: 0 0;
  }

  /* line 873, ../sass/style.scss */
  100% {
    background-position: 0 100%;
  }
}

/* line 885, ../sass/style.scss */
.stations-page .window .top-bar .left-action .line {
  width: 15px;
}
/* line 889, ../sass/style.scss */
.stations-page .window .top-bar .left-action .line-1 {
  transform: translateY(3px) rotate(-45deg);
}
/* line 892, ../sass/style.scss */
.stations-page .window .top-bar .left-action .line-2 {
  width: 0;
  opacity: 0;
}
/* line 896, ../sass/style.scss */
.stations-page .window .top-bar .left-action .line-3 {
  transform: translateY(-3px) rotate(45deg);
}
/* line 901, ../sass/style.scss */
.stations-page .window .top-bar .right-action {
  pointer-events: none;
}
/* line 904, ../sass/style.scss */
.stations-page .window .top-bar .right-action .line-2 {
  top: 21px;
  right: 25px;
  height: 0;
  width: 0;
  border-left: 6px solid #555;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 0 solid transparent;
  background: transparent;
}
/* line 916, ../sass/style.scss */
.stations-page .window .top-bar .right-action .line-3 {
  position: absolute;
  top: 25px;
  right: 1px;
  height: 12px;
  width: 30px;
  background: #FFF;
  z-index: 1;
}
/* line 927, ../sass/style.scss */
.stations-page .window .top-bar .page-front-title {
  opacity: 0;
  transform: scale(0.4);
}
/* line 931, ../sass/style.scss */
.stations-page .window .top-bar .page-saved-stations-title {
  opacity: 1;
  transform: none;
}
/* line 937, ../sass/style.scss */
.stations-page .window .page-saved-stations {
  opacity: 1;
  pointer-events: auto;
}
/* line 941, ../sass/style.scss */
.stations-page .window .page-saved-stations .station-list li {
  opacity: 1;
  transform: none;
  transition-duration: .3s;
}
/* line 946, ../sass/style.scss */
.stations-page .window .page-saved-stations .station-list li:nth-child(1) {
  transition-delay: 0s;
}
/* line 949, ../sass/style.scss */
.stations-page .window .page-saved-stations .station-list li:nth-child(2) {
  transition-delay: .05s;
}
/* line 952, ../sass/style.scss */
.stations-page .window .page-saved-stations .station-list li:nth-child(3) {
  transition-delay: .1s;
}
/* line 955, ../sass/style.scss */
.stations-page .window .page-saved-stations .station-list li:nth-child(4) {
  transition-delay: .15s;
}
/* line 958, ../sass/style.scss */
.stations-page .window .page-saved-stations .station-list li:nth-child(5) {
  transition-delay: .2s;
}
/* line 961, ../sass/style.scss */
.stations-page .window .page-saved-stations .station-list li:nth-child(6) {
  transition-delay: .25s;
}
/* line 965, ../sass/style.scss */
.stations-page .window .page-saved-stations .station-list li .num {
  opacity: 1;
  transform: none;
  transition-duration: .3s;
  transition-delay: .5s;
}

/* line 976, ../sass/style.scss */
.window-minimized .window {
  transform: translateY(200px) !important;
  opacity: 0 !important;
}
/* line 981, ../sass/style.scss */
.window-minimized .start-radio-button {
  opacity: 1 !important;
  transform: none !important;
}

/* line 991, ../sass/style.scss */
.init .window {
  opacity: 1;
  transform: none;
  height: 460px;
}
/* line 996, ../sass/style.scss */
.init .window .top-bar {
  opacity: 1;
  transform: none;
}
/* line 1002, ../sass/style.scss */
.init .window .page.page-front .cover {
  height: 250px;
  opacity: 1;
}
/* line 1006, ../sass/style.scss */
.init .window .page.page-front .cover .current-station-text {
  opacity: 1;
}
/* line 1009, ../sass/style.scss */
.init .window .page.page-front .cover .current-station-name-bar {
  opacity: 1;
}
/* line 1012, ../sass/style.scss */
.init .window .page.page-front .cover .glow {
  opacity: 1;
}
/* line 1016, ../sass/style.scss */
.init .window .page.page-front .swipe-bar {
  height: 70px;
  opacity: 1;
}
/* line 1020, ../sass/style.scss */
.init .window .page.page-front .volume-bar {
  opacity: 1;
}

/* line 1028, ../sass/style.scss */
.load-transition {
  transition-duration: .5s;
}

/* line 1031, ../sass/style.scss */
.load-transition-delay-1 {
  transition-delay: .3s;
}

/* line 1034, ../sass/style.scss */
.load-transition-delay-2 {
  transition-delay: .6s;
}
